.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  border: 2px solid black;
  margin-left: 200px;
}

th,
td {
  border: 1px solid red;
}
body{
  background-color: rgb(125, 125, 243);
}
h1,h2{
  padding-right: 750px;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 10px;
}